/* Scss Document */
/* Scss Document 
Browser Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://dallasbass.com
*/
[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* [...] er en attribute selector */
[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-right: 10px;
  /* column-space (gutter) */
  margin-bottom: 10px;
  /* margin under alle col diverne */ }

[class*='col-'] [class*='col-']:last-child {
  padding-right: 0; }

.grid {
  width: 100%;
  max-width: 1340px;
  min-width: 748px;
  /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
  margin: 0 auto;
  overflow: hidden; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.grid-pad {
  padding-top: 10px;
  padding-left: 20px;
  /* grid-space to left */
  padding-right: 0;
  /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */ }

.push-right {
  float: right; }

/* Content Columns */
.col-1-1 {
  width: 100%; }

.col-2-3, .col-8-12 {
  width: 66.66%; }

.col-1-2, .col-6-12 {
  width: 50%; }

.col-1-3, .col-4-12 {
  width: 33.33%; }

.col-1-4, .col-3-12 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6, .col-2-12 {
  width: 16.667%; }

.col-1-7 {
  width: 14.28%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.1%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.09%; }

.col-1-12 {
  width: 8.33%; }

/* Layout Columns */
.col-11-12 {
  width: 91.66%; }

.col-10-12 {
  width: 83.333%; }

.col-9-12 {
  width: 75%; }

.col-5-12 {
  width: 41.66%; }

.col-7-12 {
  width: 58.33%; }

/* Pushing blocks */
.push-2-3, .push-8-12 {
  margin-left: 66.66%; }

.push-1-2, .push-6-12 {
  margin-left: 50%; }

.push-1-3, .push-4-12 {
  margin-left: 33.33%; }

.push-1-4, .push-3-12 {
  margin-left: 25%; }

.push-1-5 {
  margin-left: 20%; }

.push-1-6, .push-2-12 {
  margin-left: 16.667%; }

.push-1-7 {
  margin-left: 14.28%; }

.push-1-8 {
  margin-left: 12.5%; }

.push-1-9 {
  margin-left: 11.1%; }

.push-1-10 {
  margin-left: 10%; }

.push-1-11 {
  margin-left: 9.09%; }

.push-1-12 {
  margin-left: 8.33%; }

.push-1-24 {
  margin-left: 4.165%; }

@media handheld, only screen and (max-width: 767px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    /* grid-space to left */
    padding-right: 10px;
    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */ }

  [class*='col-'] {
    width: auto;
    float: none;
    margin: 10px 0;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */ }

  [class*='col-'] [class*='col-'] {
    padding-right: 0; }

  /* Mobile Layout */
  [class*='mobile-col-'] {
    float: left;
    margin: 0 0 10px;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0; }

  .mobile-col-1-1 {
    width: 100%; }

  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%; }

  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%; }

  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%; }

  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%; }

  .mobile-col-1-5 {
    width: 20%; }

  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%; }

  .mobile-col-1-7 {
    width: 14.28%; }

  .mobile-col-1-8 {
    width: 12.5%; }

  .mobile-col-1-9 {
    width: 11.1%; }

  .mobile-col-1-10 {
    width: 10%; }

  .mobile-col-1-11 {
    width: 9.09%; }

  .mobile-col-1-12 {
    width: 8.33%; }

  /* Layout Columns */
  .mobile-col-11-12 {
    width: 91.66%; }

  .mobile-col-10-12 {
    width: 83.333%; }

  .mobile-col-9-12 {
    width: 75%; }

  .mobile-col-5-12 {
    width: 41.66%; }

  .mobile-col-7-12 {
    width: 58.33%; }

  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0; } }
/* Scss Document */
body {
  font-family: helvetica, arial, sans-serif;
  display: block;
  margin: 220px auto 0; }

h2 {
  padding: 15px 0;
  font-size: 2.8em;
  font-weight: bold;
  color: #ef640f;
  line-height: 50px; }

p {
  padding: 5px 0;
  line-height: 25px; }

.welcome {
  position: fixed;
  font-size: 1.1em;
  line-height: 25px;
  top: 40px;
  right: 4%;
  z-index: 2;
  color: #ef640f;
  font-weight: bold;
  text-align: right; }

nav {
  position: fixed;
  top: 130px;
  right: 4%;
  z-index: 3; }
  nav a {
    margin: 0 0 0 20px;
    color: #454545; }
    nav a:hover {
      color: #ef640f; }
  nav .selected {
    text-decoration: underline;
    color: #ef640f; }

a {
  cursor: pointer;
  text-decoration: none;
  color: #ef640f;
  margin: 10px 0; }
  a:hover {
    color: #454545;
    transition: 0.3s; }

.container {
  max-width: 1150px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap; }
  .container form {
    width: 400px;
    text-align: right; }
    .container form fieldset legend {
      text-align: center;
      font-size: 2em;
      color: #454545;
      width: 100%;
      padding: 35px 0;
      font-weight: bold; }

.felt {
  font-size: 1.1em;
  line-height: 30px;
  width: 400px;
  margin: 20px 0 10px; }

label {
  margin: 10px; }

.btn {
  font-size: 1.1em;
  padding: 8px 15px;
  background: #454545;
  color: #ccc;
  margin: 30px 0;
  border: none;
  border-radius: 3px; }
  .btn:hover {
    color: #fff; }

.infobox {
  width: 40%;
  position: fixed;
  z-index: 3;
  background: #fff;
  box-shadow: 10px 10px 5px #888888;
  top: 200px;
  left: 30%;
  border: 1px solid #ccc; }
  .infobox p {
    text-align: center;
    padding: 40px 0; }
  .infobox a {
    color: color-main;
    font-weight: bold; }
    .infobox a.close {
      float: right;
      text-align: right;
      padding: 10px 20px 0;
      margin: 0;
      font-size: 1.5em;
      font-weight: bold; }
    .infobox a:hover {
      color: #454545;
      transition: 0.3s; }

.header {
  background: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1;
  border-bottom: 2px solid #ccc; }
  .header #logo {
    width: 600px;
    padding: 40px 0; }

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.content1, .content2, .content3 {
  height: 420px;
  width: 48%; }

.content2 {
  background-image: url(../img/secret.jpg);
  background-size: contain;
  background-repeat: no-repeat; }

.content3 {
  background-image: url(../img/meme.jpg);
  background-size: cover; }

footer {
  height: 500px;
  width: 100%;
  background-image: url(../img/marmor.jpg);
  background-size: cover;
  border-top: 1px solid #ef640f;
  text-align: center;
  margin: 100px 0 0 0; }
  footer h2 {
    margin-top: 180px;
    font-size: 2em; }
  footer #copyright {
    font-size: 0.6em; }
  footer img {
    height: 40px;
    margin-top: 20px;
    opacity: 0.2; }
    footer img:hover {
      opacity: 0.4; }
